[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
streamlit = "*"
pandas = "*"
sqlfluff = "*"
ydata-profiling = "*"
sweetviz = "*"
pygwalker = "*"

[dev-packages]

[requires]
python_version = "3.9"
